@media (max-width: 900px) {
  .icon-right {
    display: none;
  }
  .icon-media {
    display: inline-block;
    margin: 0.7rem 14rem;
  }

  .bannerAvatar {
    left: 36.8rem;
  }

  .banner .sqrAvatar {
    width: 15rem;
    height: 15rem;
  }

  .right-icons {
    width: 38%;
  }

  .left-menyu {
    width: 52%;
  }

  .boxText-rightFlex {
    width: 34.2rem;
  }

  .iconFlex-rightFlex {
    justify-content: space-around;
    padding-bottom: 1rem;
  }

  .icon1-iconFlex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .icon2-iconFlex {
    width: 22%;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }
  .icon3-iconFlex {
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .intro-text {
    padding: 0.9rem 1.5rem;
  }

  .text-rightBottom {
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }

  .small-flex {
    margin-top: 1rem;
  }

  .boxPhotos-grid {
    grid-template-columns: repeat(2, 1fr);
    margin-top: 2.5rem;
  }
}

@media (max-width: 500px) {
  header {
    display: flex;
    flex-wrap: wrap;
  }

  .iconHeader-leftIcon {
    width: 85%;
    justify-content: start;
    column-gap: 1.5rem;
  }

  .iconHeader-midleIcon {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: 0.9rem;
  }

  .icon-media {
    position: absolute;
    top: 0.9rem;
    right: -10rem;
  }

  .bannerAvatar {
    left: 18.8rem;
  }

  .banner .sqrAvatar {
    width: 12rem;
    height: 12rem;
  }

  .bannerAvatar h2 {
    font-size: 2rem;
    padding-top: 0.4rem;
    padding-left: 0.6rem;
  }

  .right-icons {
    width: 70%;
    margin: 1.2rem 0;
    margin-left: auto;
  }
  .left-menyu {
    width: 100%;
  }

  .bannerBottom {
    flex-wrap: wrap;
  }

  .banner {
    height: auto;
  }

  .bigFlex {
    display: grid;
    grid-template-columns: 1fr;
    column-gap: 1.5rem;
  }

  .leftFlex,
  .rightFlex {
    display: grid;
    grid-template-columns: 1fr;
    width: auto;
    gap: 1.5rem;
  }

  main {
    height: auto;
    padding-bottom: 1.5rem;
  }
  .contaner {
    width: 90%;
    margin: 0 auto;
  }
}
