* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

p {
  font-size: 1.6rem;
}
h1 {
  font-size: 3.2rem;
}
h2 {
  font-size: 2.4rem;
}
h3 {
  font-size: 1.872rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 1.2rem;
}

.iconHeader {
  width: 32%;
  display: flex;
  justify-content: space-between;
}

.iconHeader-leftIcon {
  width: 25%;
  display: flex;
  justify-content: space-between;
}

.iconHeader-midleIcon {
  width: 32%;
  display: flex;
  justify-content: space-between;
}

.iconHeader-rightIcon {
  width: 27%;
  display: flex;
  justify-content: space-between;
}

.searchBox span {
  position: absolute;
  top: 1.2rem;
  left: 6.5rem;
}

.padding-icon {
  padding-top: 1rem;
}

.icon-remember {
  padding-bottom: -1rem;
  width: 4.3rem;
}

.searchBox {
  width: 28rem;
  height: 4rem;
  /* border: 1px solid #707070; */
  border-radius: 2rem;
  background-color: #f0f2f5;
  padding: 0.9rem 3.5rem;
  position: relative;
}

.banner {
  width: 100%;
  height: 55.4rem;
}

.contaner {
  width: 83%;
  margin: 0 auto;
}

.bannerBox {
  height: 40.6rem;
  background-color: rgba(241, 232, 232, 0.459);
  position: relative;
}

.bannerImg {
  /* width: 109.6rem; */
  width: 100%;
  height: 40.6rem;
  border-radius: 0 0 8px 8px;
  border: 1px solid black;
  background-image: url("/images/banner.jpg");
  background-size: cover;
  background-position: bottom;
}

.bannerAvatar {
  position: absolute;
  bottom: -4.8rem;
  left: 58.8rem;
}

.bannerAvatar h2 {
  padding-top: 5px;
  padding-left: 10px;
}

.banner .sqrAvatar {
  width: 17rem;
  height: 17rem;
  border: 0.3rem solid #fff;
  border-radius: 50%;
  background-image: url("/images/avatar.png");
  background-size: cover;
}

.hr-banner {
  color: #ccced2;
  margin-top: 8.8rem;
}

.bannerBottom {
  display: flex;
  justify-content: space-between;
  margin-top: 1.5rem;
}

.left-menyu {
  width: 50%;
  display: flex;
  justify-content: space-around;
  margin-top: 0.8rem;
}

.box-menu-1 {
  border-bottom: 0.2rem solid blue;
  padding-bottom: 1.5rem;
}

.right-icons {
  width: 30%;
  display: flex;
  justify-content: space-between;
}

.box-icon-1 {
  width: 12rem;
  height: 3.6rem;
  background-color: #e4e6eb;
  border: none;
  border-radius: 0.6rem;
}

.box-icon-2 {
  width: 4.8rem;
  height: 3.6rem;
  background-color: #e4e6eb;
  border: none;
  border-radius: 0.6rem;
}

.box-icon-3 {
  width: 4.8rem;
  height: 3.6rem;
  background-color: #e4e6eb;
  border: none;
  border-radius: 0.6rem;
}

.box-icon-4 {
  width: 4.8rem;
  height: 3.6rem;
  background-color: #e4e6eb;
  border: none;
  border-radius: 0.6rem;
}

main {
  background-color: #e4e6eb;
  height: 90rem;
}

.bigFlex {
  display: flex;
  justify-content: space-around;
}

.leftFlex {
  width: 39%;
  display: flex;
  flex-wrap: wrap;
  /* row-gap: 1.5rem; */
  row-gap: 1.2rem;
  margin-top: 2rem;
}

.box-intro {
  width: 100%;
  /* width: 42.4rem; */
  height: 30.1rem;
  border-radius: 0.6rem;
  background-color: #fff;
}

.contaner-intro {
  width: 92%;
  margin: 0.8rem auto;
}

.intro-text {
  padding: 1rem 1.5rem;
}

.boxPhotos {
  width: 100%;
  height: 46.3rem;
  background-color: #fff;
  border-radius: 0.8rem;
}

.contaner-photos {
  width: 92%;
  margin: 0.2rem auto;
  padding-top: 0.4rem;
  display: flex;
  justify-content: space-between;
}
.contaner-photos p {
  color: #1877f3;
}

.boxPhotos-grid {
  width: 94%;
  height: 40.6rem;
  margin: 1.5rem auto 0.5rem auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 1rem;
}

.img-gallery-1 {
  background-image: url("/images/course-2-1.jpg");
  background-size: cover;
  border-radius: 0.8rem 0 0 0;
}

.img-gallery-2 {
  background-image: url("/images/course-2-2.jpg");
  background-size: cover;
}

.img-gallery-3 {
  background-image: url("/images/course-2-3.jpg");
  background-size: cover;
  border-radius: 0 0.8rem 0 0;
}

.img-gallery-4 {
  background-image: url("/images/course-2-9.jpg");
  background-size: cover;
  background-position: right;
}

.img-gallery-5 {
  background-image: url("/images/course-2-4.jpg");
  background-size: cover;
  background-position: center;
}

.img-gallery-6 {
  background-image: url("/images/course-2-5.jpg");
  background-size: cover;
  background-position: right;
}

.img-gallery-7 {
  background-image: url("/images/course-2-6.jpg");
  background-size: cover;
  border-radius: 0 0 0.8rem 0;
  background-position: center;
}

.img-gallery-8 {
  background-image: url("/images/course-2-7.jpg");
  background-size: cover;
  background-position: right;
}

.img-gallery-9 {
  background-image: url("/images/course-2-8.jpg");
  background-size: cover;
  border-radius: 0 0 0.8rem 0;
}

.rightFlex {
  width: 57%;
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
}

.rightFlex-top {
  width: 100%;
  height: 13.6rem;
  border-radius: 0.8rem;
  background-color: #fff;
  margin-top: 2rem;
}

.contaner-rightFlex {
  width: 92%;
  margin: 0.4rem auto;
}

.small-flex {
  display: flex;
  justify-content: space-between;
  margin-top: 1.6rem;
}

.avatar-rightFlex {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid #e4e6eb;
  border-radius: 50%;
  background-image: url("/images/avatar2.png");
  background-size: cover;
}

.boxText-rightFlex {
  height: 4rem;
  width: 52.2rem;
  border-radius: 2.5rem;
  background-color: #e4e6eb;
  padding: 1.1rem 1.6rem;
}

.hr-rightFlex {
  color: #e4e6eb;
  margin: 1.8rem 0;
}

.iconFlex-rightFlex {
  display: flex;
  justify-content: space-around;
}

.rightFlex-midle {
  width: 100%;
  height: 5.4rem;
  border-radius: 0.8rem;
  background-color: #fff;
}

.btnFilters {
  height: 3.6rem;
  width: 8.8rem;
  border-radius: 0.4rem;
  border: none;
}

.small-flex-2 {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
}

.small-flex-2 h3 {
  margin-top: 0.7rem;
}

.rightFlex-bottom {
  width: 100%;
  height: 56.2rem;
  border-radius: 0.8rem;
  background-color: #fff;
}

.small-flex-2 .main {
  width: 50%;
  display: flex;
  justify-content: space-between;
}

.sqr-more-icon {
  width: 3.6rem;
  height: 3.6rem;
  background-color: #e4e6eb;
  border: none;
  border-radius: 50%;
}

.flexRight-bottomBig {
  display: flex;
  justify-content: space-between;
}

.avatar-rightFlex-bottom {
  width: 4rem;
  height: 4rem;
  border: none;
  border-radius: 50%;
  background-image: url("/images/avatar.png");
  background-size: cover;
}

.contaner-rightFlex .FlexSecond {
  display: flex;
  justify-content: space-between;
}

.text-rightFlex-bottom {
  margin-left: 1rem;
}

.text-rightBottom {
  padding: 1rem 0;
  font-family: sans-serif;
}

.img-rightBottom {
  width: 100%;
  height: 29rem;
  border-radius: 0.8rem;
  background-image: url("/images/main.jpeg");
  background-size: cover;
  background-position: bottom;
}

.icons-rightBottom-bigFlex {
  display: flex;
  justify-content: space-between;
  margin-top: 0.6rem;
}

.icons-left-rightBottom {
  display: flex;
  justify-content: space-between;
}

/* css disign for icons */
.icon-mesText span {
  /* padding-top: 1rem;
  margin-top: 5rem; */
}

.box-icon-2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon-3 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.box-icon-4 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.into-icon-1 {
  display: inline-block;
}
